<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <link rel="'stylesheet" href="../static/css/uploading.css"
</head>
<body>
    <div class="container">
        <h3>Upload your video here</h3>
        <div class="drag-area">
            <div class="icon">
                <i class="fas fa-images"></i>
            </div>
            
            <span class="header"> Drag & Drop file here </span>
            <span class="header">or <span class="button">click here to browse</span></span>
            <input type="file" hidden />
            <span class="support">Supports:mp4</span>
        </div>

    </div>
    
</body>
</html>