<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De-identification</title>
    <link href="{{ url_for('static', filename='css/inoutput.css') }}" rel="stylesheet">
</head>
<body>
    <!-- 뒤로 가기 버튼 -->
    <a href="{{ url_for('index') }}" class="back-button">
        <img src="{{ url_for('static', filename='img/team_logo.png') }}" alt="Back" class="back-icon"></a>
        
        <!--업로드 박스(회색 영역)-->
        <div class="upload-box" id="uploadBox" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
            <form id="upload-form" action="/input/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <label for="file">
                    <img src="{{ url_for('static', filename='img/upload.png') }}" class="upload-icon">
                    <div class="upload-box" id="uploadBox" ondrop="handleDrop(event)" ondragover="handleDragOver(event)">
                        <div class="upload-text">Click or Drag files here to upload videos</div>
                        <div class="upload-restrictions">Only mp4 files can be uploaded</div>
                    </div>
                </label>
            
                <!--제출 버튼-->
                <input type="submit" class="hidden-button" onclick="startDeIdentification(event)">
                    <img src="{{ url_for('static', filename='img/upload_button.png') }}" alt="Upload" class="upload-button">
                </input>
            </form>            
           
        </div>   
</body>
</html>